
/*
 * Hide microphone indicator
 */

#webrtcIndicator {
  display: none;
}

/*
 * Hide tab bar when only one tab is open
 */

tab:only-of-type { display:none; }
#tabbrowser-tabs, #tabbrowser-tabs arrowscrollbox { min-height: 0 !important; }
#tabbrowser-tabs tab { height: var(--tab-min-height); }
#tabbrowser-tabs tab:first-child:last-child { display: none !important; }


/*
 * Auto-hide the URL-bar and bookmarks bar, show on hover or focus
 */

#nav-bar {
    min-height: 4px !important;
    position: relative;
    z-index: 1;
    height: 4px;
    margin-bottom: -4px;
    opacity: 0;
    overflow: hidden;
    transition: 0.2s height ease-out;
}
#nav-bar:hover {
    height: auto;
    margin-bottom: -40px;
    opacity: 1;
    overflow: hidden;
}
#nav-bar:focus-within {
    height: auto;
    margin-bottom: -40px;
    opacity: 1;
    overflow: show;
}
#content-deck{
    position:relative;
    z-index: 0;
}
